@model List<ShowEngineModelView>

@{
    ViewData["Title"] = "Engines";
}

<div class="text-center">
    <h3>All Brands</h3>
</div>

<a class="nav-link text-dark text-center" asp-area="" asp-controller="Engine" asp-action="AddNewEngine">New Engine</a>
<a class="nav-link text-dark text-center" asp-area="" asp-controller="Engine" asp-action="GetAllByManifacture">Select engines by brand</a>

<div class="text-center row">

    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body, bg-warning text-black">
                <p class="mb-0">Manufacturer: @car.Manufacturer</p>
                <p class="mb-0">Fuel: @car.FuelType</p>
                <p class="mb-0">Horse Power: @car.HorsePower</p>
                <p class="mb-0">Cubic Capacity: @car.Volume</p>
                <p class="mb-0">Fuel Consumption: @car.Consumption</p>
            </div>
            <p></p>
            <div class="text-center">
                <a asp-controller="Engine" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-success">Edit</a>
            </div>
        </div>
    }
</div>