@model List<DisplayCarModel>

@{
    ViewData["Title"] = "All Cars";
}

<div class="text-center">
    <h3>All Cars</h3>
</div>

<div>
    
    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body, bg-danger text-white">
                <p class= "mb-0" >Model: @car.Model</p>
                <p class="mb-0">Manifacturer: @car.Manifacturer</p>
                <p class="mb-0">Registered on: @car.FirstRegistration</p>
                <p class="mb-0">Engine volume: @car.EngineVolume</p>
                <p class="mb-0">Engine power: @car.EnginePower</p>
                <p class="mb-0">Price: @car.Price</p>
                @if (car.isObserved == false)
                {
                <p class="text-center">
                    <form class="input-group-sm" asp-route-carId="@car.Id" asp-controller="Car" asp-action="ObserveCar" method="post">
                        <input type="submit" value="Add to my list" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                </p>
                }

            </div>
        </div>
    }
</div>



   

        
        
        