@model List<DisplayCarModel>

@{
    ViewData["Title"] = "My Cars";
}

<div class="text-center">
    <h3>My Cars</h3>
</div>

<div>
    
    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body, bg-success text-white">
                <p class= "mb-0" >Model: @car.Model</p>
                <p class="mb-0">Manifacturer: @car.Manifacturer</p>
                <p class="mb-0">Registered on: @car.FirstRegistration</p>
                <p class="mb-0">Engine volume: @car.EngineVolume</p>
                <p class="mb-0">Engine power: @car.EnginePower</p>
                <p class="mb-0">Price: @car.Price</p>
            </div>
            <p></p>
            <div class="text-center">
                <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-danger">Edit</a>
            </div>
        </div>
    }
</div>



   

        
        
        
